html {
	background: #f3f3f3;
}

body {
	background: #f3f3f3;
	color: #696969;
	font-family: Verdana, sans-serif;
	font-size: 18px;
	max-width: 800px;
	padding: 2em 2em 4em;
}

h1 {
	color: #696969;
	font-family: Verdana, sans-serif;
	font-size: 45px;
	text-align: center;	
}

h2 {
	color: #696969;
	font-family: Verdana, sans-serif;
	font-size: 30px;
	text-align: center;	
}

